
@{
    ViewData["Title"] = "GetCityDestId";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Getting a city ID for Booking Hotels</h2>

<br />
<br />
<form method="post">
    <label>Please, enter city name</label>
    <input type="text" class="form-control" name="city" />
    <br />
    <br />
    <button class="btn btn-outline-primary">Get City Id</button>
</form>