@model ParachuteTravel.Areas.Users.Models.UserChangePasswordViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Change Password</h4>

            <form class="forms-sample" method="post">
                <span class="text-danger">To change your password, type your new password in both boxes.</span>

                <div class="form-group">
                    <label for="exampleInputName1">New Password</label>
                    <input type="password" asp-for="Password" class="form-control" id="exampleInputName1" placeholder="New Password">
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Confirm Password</label>
                    <input type="password" asp-for="NewPassword" class="form-control" id="exampleInputName1" placeholder="Confirm Password">
                    <span asp-validation-for="NewPassword"></span>
                </div>
                <div class="text-danger" asp-validation-summary="ModelOnly">

                </div>
                <button type="submit" class="btn btn-primary mr-2">Change Password</button>

            </form>

        </div>
    </div>
</div>
