@model ParachuteTravel.Areas.Users.Models.UserChangePasswordViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Change Password</h4>

            <form class="forms-sample" method="post">

                <div class="form-group">
                    <label for="exampleInputName1">Current Password</label>
                    <input type="password" asp-for="Password" style="color:#ff0000" class="form-control" id="exampleInputName1" placeholder="Current Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">New Password</label>
                    <input type="password" asp-for="ConfirmPassword" style="color:#ff0000" class="form-control" id="exampleInputName1" placeholder="Confirm Password">
                </div>


                <button type="submit" class="btn btn-primary mr-2">Submit</button>

            </form>

        </div>
    </div>
</div>
