
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>PDF Report Pages</h1>
<br />
<a href="/Admin/PDFReport/StaticPdfReport/" class="btn btn-outline-warning">Static PDF Report</a>
<br />
<br />
<a href="/Admin/PDFReport/StaticCustomerReport/" class="btn btn-outline-primary">User Pdf Report</a>
