
@{
    Layout = null;
}

<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Error 404 - Page Not Found!</title>
    <link rel="stylesheet" type="text/css" href="~/Errorpage_404/assets/css/style.css" />
    <link href="~/Errorpage_404/assets/images/favicon.png" rel="shortcut icon" type="image/x-icon" />
</head>

<body>
    <div class="container">
        <img class="ops" src="~/Errorpage_404/assets/images/404.svg" />
        <br />
        <h3>
            The page you were looking for was not found
        </h3>
        <br />
        <a class="buton" href="/Home/Index/">Go Home</a>
    </div>
</body>

</html>