
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("/Views/Shared/UserLayoutPartial/_UserHeadPartial.cshtml")

<body class="g-sidenav-show  bg-gray-100">
    @await Html.PartialAsync("/Views/Shared/UserLayoutPartial/_UserSidebarPartial.cshtml")

    <main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
        <!-- Navbar -->
        @await Html.PartialAsync("/Views/Shared/UserLayoutPartial/_UserNavbarPartial.cshtml")

        <!-- End Navbar -->
        <div class="container-fluid py-4">
            @RenderBody()
            @await Html.PartialAsync("/Views/Shared/UserLayoutPartial/_UserFooterPartial.cshtml")

        </div>
    </main>
    @await Html.PartialAsync("/Views/Shared/UserLayoutPartial/_UserRightbarPartial.cshtml")
    @await Html.PartialAsync("/Views/Shared/UserLayoutPartial/_UserScriptPartial.cshtml")
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>

